@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

.About-page {
  background-color: black;
  color: white;
  text-align: center;
}

.function-benefit {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.function-benefit > div {
  flex-basis: 45%;
}

.about-text {
  font-size: 22px;
  margin-bottom: 20px; /* 텍스트 아래 여백 조정 */
  padding: 20px;
  font-family: 'Noto Sans KR', sans-serif;
}



.About-container {
  font-size: 15px;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 5px 20%;
  padding-bottom: 30px; /* 하단 여백 조정 */
  background-color: rgb(4, 3, 8);
  color: white;
  border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 2px 2px 4px #6fe7fc;
}

.About-content {
  margin-bottom: 20px;
}

.About-description {
  font-size: 16px;
  color: black;
}

.About-footer {
  text-align: center;
  margin-top: 20px;
}

.component {
  color: var(--bs-gray-800);
  background-color: var(--bs-gray-100);
  border: 1px solid var(--bs-gray-100);
  border-radius: 0.25rem;
  padding: 5px;
}

.component-header {
  color: var(--bs-purple);
  padding: 5px;
}

.custom-tabs {
  background-color: black;
}

.About-logo {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo-image {
  width: 500px;
  height: auto;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.chart-image {
  max-width: 800px;
  height: auto;
  display: block;
  margin: 20px auto;
  margin-bottom: 20px; /* 이미지 아래 여백 조정 */
  margin-left: 170px;
}

.chart-image.chart3 {
  max-width: 600px;
  height: auto;
  display: block;
  margin: 20px auto;
}

.text-black {
  color: white;
}

.link-white {
  color: white;
}

.function-list .benefit-list {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 25px;
}
