/* About.css */
/* 이 파일은 about.js 컴포넌트에 대한 스타일과 레이아웃을 정의합니다 */

.About-page {
  background-color: black;
  color: white;
  text-align: center;
}

.about-text {
  margin-bottom: 50px;
  padding: 20px;
}
.About-container {
  /* padding-top: 5%; */
  font-size: 15;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding-top: 5px;
  padding-left: 20%;
  padding-right: 20%;
  background-color: rgb(4, 3, 8);
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  text-align: center; /* 텍스트 중앙 정렬 */
  text-shadow: 2px 2px 4px #6fe7fc;
}

.About-content {
  margin-bottom: 20px;
}

.About-description {
  font-size: 16px;
  color: black;
}

.About-footer {
  text-align: center;
}

.component {
  color: var(--bs-gray-800);
  background-color: var(--bs-gray-100);
  border: 1px solid var(--bs-gray-100);
  border-radius: 0.25rem;
  padding: 5px;
}

.component-header {
  color: var(--bs-purple);
  padding: 5px;
}

.custom-tabs {
  background-color: black;
}

.logo {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo-image {
  width: 500px; /* 원하는 크기로 설정 */
  height: auto; /* 가로 크기에 따라 자동으로 조절되도록 설정 */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.chart-image {
  max-width: 400px; /* Set the maximum width for chart3 image */
  height: auto; /* Automatically adjust the height while maintaining aspect ratio */
  display: block;
  margin: 20px auto; /* Center-align the image horizontally with top and bottom margin */
}
.chart-image.chart3 {
  max-width: 400px; /* Set the maximum width for chart3 image */
  height: auto; /* Automatically adjust the height while maintaining aspect ratio */
  display: block;
  margin: 20px auto; /* Center-align the image horizontally with top and bottom margin */
}
