.detail-chart-container{
    display: flex;
}

.detail-category-chart {
    padding-left: 130px;
}


.detail-time-chart {
    padding-left: 180px;
}



@media screen and (max-width: 960px) {
    .detail-chart-container {
        display: block;
    }

    .detail-time-chart {
        padding-left: 130px;
        padding-top: 50px;
    }
}