.dropdown {
    position: relative;
    display: inline-block;
    font-size: 15px;
    width: 5.5rem;
    margin-left: auto;
}
  
.dropdownMenu {
    display: block;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
  
.dropdownItem {
    color: black;
    width: 5.5rem;
    padding: 0;
    text-decoration: none;
    display: block;
}
  