@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@700&display=swap');
@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 10px 20px;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-family: 'Livvic', sans-serif;
  color: white;
  text-shadow: black 4px 4px 4px;
  font-weight: bold;
  margin-right: 20px;
  cursor: pointer;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-left: 20px;
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  margin-top: 10px;
}
