@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@700&display=swap');
@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KimjungchulGothic-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

.main-bar {
  padding: 20px;
  height: 30px;
}

.iomenu {
  color: white;
  font-size: 50px;
  cursor: pointer;
}

.menu p {
  color: white;
  margin-left: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: all 1s;
  font-family: 'Noto Sans KR', sans-serif;
}

.menu p:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.login-container {
  float: right;
  display: flex;
  color: white;
  padding-top: 5px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
}

.login-container p {
  transition: all 0.5s;
}

.login-container p:hover {
  color: gray;
}

.login-button {
  margin-right: 15px;
  cursor: pointer;
}

.register-button {
  cursor: pointer;
}

.peco {
  text-align: center;
  color: white;
  padding-top: 100px;
  font-size: 150px;
  margin-top: 80px;
  font-family: 'Livvic', sans-serif;
  text-shadow: black 4px 4px 4px;
  cursor: pointer;
  letter-spacing: 7px;
}

.search input {
  height: 65px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #d9d9d9;
}

.search button {
  background-color: #d9d9d9;
  color: black;
  border: none;
  font-size: 35px;
}

.search-card {
  background-color: rgba(31, 41, 55, 1);
  color: black;
  width: 500px;
  margin: auto;
  height: 250px;
  border-radius: 1rem;
  padding: 1rem;
  padding-top: 30px;
}

/* .search-card .left-card {
  border-right: #9BA4B5 solid 0.1px;
  background-color: #262A56;
  height: 180px;
  border-radius: 10px 0 0 10px;
  color: white;
}
 */


 .search-card .user-nickname {
  color: white;
  font-size: 30px;
  font-family: 'KimjungchulGothic-Bold';
  margin-left: 10px;
  margin-top: -10px;
 }


 .search-card .user-info {
  width: 290px;
  height: 100px;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 1);
  padding-left: 10px;
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(0, 0, 0, 1);
  margin-top: 8px;
 }

 .user-info h4 {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
 }

 .user-info p {
  font-size: 17px;
}

.request {
  margin-top: 10px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: all .3s ease;
  margin-bottom: 10px;
}

.request:hover {
  background-color: rgb(118, 36, 194);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}