.my-back {
    background-image: url('/public/아케인.jpg');
    background-size: cover;
    background-position: center;
    height: 150vh;
    min-height: 1000px;
    width: 100%;
}


.user-container {
    width: 100%;
    height: 300px;
    display: flex;
}

.tier-image {
    margin-top: 45px;
    margin-left: 30px;

}

.middle-text {
    margin-top: 85px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.left-pie-chart {
    padding-bottom: 25px;
    margin-left: 120px;
    padding-top: 20px;
}

.right-pie-chart {
    padding-bottom: 30px;
    margin-left: 120px;
    padding-top: 30px;
}

.chart-container {
    width: 100%;
    height: 300px;
    display: flex;
}

.category-chart {
    flex: 1;
    padding-top: 50px;
    width: 700px;
    height: 700px;
    padding-left: 40px;
}

.reports-container {
    flex: 1;
    width: auto;
    height: auto;
}

.report-card {
    margin: 1rem;
    padding: 1rem;
    height: 5rem;
    width: auto;
    border-radius: 0.75rem;
    background-color: rgb(216, 216, 216);
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.report-card h2{
    font-size: 1.5rem;
}

.report-card h3{
    font-size: 1.2rem;
}

.page-number {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 960px) {
    .user-container {
        display: block;
        height: 1100px;
        text-align: center;
    }

    .chart-container {
        display: block;
    }

    .tier-image {
        margin: 0 auto;
    }

    .left-pie-chart {
        margin-left: 280px;
    }

    .right-pie-chart {
        margin-left: 290px;
    }

    .category-chart {
        padding-left: 70px;
    }

    .my-back {
        height: 300vh;
    }
}